<div class="page-header">
  <h3>Contacts</h3>
  <div class="actions">
    <%= link_to 'New Contact', new_contact_path, :class => 'btn btn-primary' %>
  </div>
</div>

<div class="list-group">
<% @contacts.each do |contact| %>
  <%= link_to contact_path(contact), class: 'list-group-item' do %>
    <div class="media">
      <div class="media-left padding-3x media-middle">
        <%= contact_avatar(contact, class: 'media-object img-circle', style: 'width:64px;height:64px;') %>
      </div>
      <div class="media-body media-middle contact-name">
        <p><strong><%= contact.full_name %></strong></p>
      </div>
      <div class="media-body media-middle contact-email hidden-xs">
        <p><%= contact.email %></p>
      </div>
      <div class="media-body media-middle contact-phone hidden-xs">
        <p><%= contact.phone_number %></p>
      </div>
    </div>
  <% end %>
<% end %>
</div>